.grid{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

}   

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;    
    border-width: thick;
    border-color: black;
    background-color: teal;
    width: 1260px;

}

.round{ /* image style*/
    border-radius: 50%;
}
.contacts{
    border-bottom-style: solid;
}

.sidebar{
    border-style: solid;
    border-width: small;
    border-color: black;
    background-color: lightgray;
    width: auto;

}

.bio, .work, .education,.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    border-bottom-style: dotted;    
    border-right-style: solid;    
    border-width: small;
    border-color: black;
    background-color: lightgray;
    flex-wrap: wrap;
    width: 1000px;

}
