.grid{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    box-sizing: border-box;
}   

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;    
    border-width: thick;
    border-color: black;
    background-color: teal;
    width: auto;
    box-sizing: border-box;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.round{ /* image style*/
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contacts{
    border-bottom-style: solid;
    
}

.sidebar{
    border-style: groove;
    border-width: small;
    background-color: lightgray;
    width: 300px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.main{
    border-style: solid;
    background-color: lightgray;
    width: auto;

}

.main h2{
    display: flex;
    justify-content: flex-start;
    font-style: italic;
}
p{
    font-family: 'Courier New', Courier, monospace;

}


.bio, .work, .education,.skill{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    border-bottom-style: groove;
}







